@charset "utf-8";
/* CSS Document */
body {
	background-color:#86D0CD;
}
/*NAVIGATION BAR*/
ul{
	list-style-type:none;
	list-style:none;
	margin:0px;
	padding:0px;
	overflow:hidden;
	background-color:black;
	}
li {
	float:left;
	}
li a {
	display:block;
	color:white;
	text-align:center;
	padding:25px;
	background-color:black;
	}
	
li a:hover {
	color:#4DBEE0;
	}
.box1atbottom{
	height:300px;
	width:300px;
	background-image:url(laxpic.jpg);
	background-size:cover;
	float:center;
	display:inline-block;
	margin-top:150px;
	margin-left:75px;
	}
.box2atbottom{
	height:300px;
	width:300px;
	background-image:url(th.jpg);
	background-size:contain;
	float:center;
	margin-top:150px;
	display:inline-block;
	}
.box3atbottom{
	height:300px;
	width:300px;
	margin-top:150px;
	background-image:url(binary.jpg);
	background-size:cover;
	float:center;
	display:inline-block;
	}
.box4atbottom{
	height:300px;
	width:300px;
	margin-top:150px;
	background-image:url(lincoln.jpg.jpg);
	background-size:cover;
	float:center;
	display:inline-block;
	}
	a {
		text-decoration:none;
		}
		
.box1atbottom:hover{
	opacity:.6;
	}
.box2atbottom:hover {
	opacity:.6;
	}
.box3atbottom:hover {
	opacity:.6;
	}
.box4atbottom:hover {
	opacity:.6;
	}
a:hover {
	color:#2CC1D9;
	}
